/* Cool extra gradient: 

    background: rgb(53,111,108);
    background: linear-gradient(87deg, rgba(53,111,108,1) 54%, rgba(0,63,150,1) 100%);\

*/


html {                                     
    background: rgb(0,63,150);
    background: linear-gradient(86deg, rgba(0,63,150,1) 0%, rgba(105,170,66,1) 100%) no-repeat center center fixed;                                                   
    background-size: cover;
    z-index: -3;
}


/* This is the strip of green for the main-links. */

div.background {
    background-color: #69AA42;
    width: 1904px;
    height: 140px;
    background-attachment: fixed;
    position: absolute;
    border: solid #588a3b 4px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    left: 6px;
    top: 8px;
    z-index: -2;
}


.wbal-logo {
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}


/* Footer that has copyright symbol. */


.copyright-footer {
    color: rgb(231, 231, 231);
    font-size: 13px;
    font-family: roboto-regular;
    text-align: center;
    background-attachment: scroll;
    background-position: 0% 0%;
    position: fixed;
    bottom: 0px;
} 