.form-link {
   color: white;
}

a.mini-links {
   text-decoration: none;
   font-family: roboto-regular;
   font-size: 40px;
   letter-spacing: 1px;
   word-spacing: 1px;
   -webkit-border-radius: 3px;
   -moz-border-radius: 3px;
   border-radius: 4px;
}


a.mini-links:visited {
   color: rgb(233, 233, 233);
   border: 1px solid rgb(245, 245, 245);
}

a.mini-links:hover {
   color: rgb(245, 245, 245);
   border: 5px solid rgb(34, 22, 199);
}

a.mini-links:active {
   color: rgb(17, 0, 255);
   border: 5px solid rgb(28, 14, 221);
}

li {
   color: rgb(231, 231, 231);
   list-style: none;
   display: flex;
   align-items: center;
   justify-content: center;
   margin: 0 60px 0 0;
   font-size: 30px;
}

li:before {
   content: "‣";
   color: rgb(231, 231, 231);
   margin-right: 13px;
   font-size: 50px;
}

.forms-click-to-download {
   text-decoration: underline;
   text-align: center;
   font-size: 50px;
}

.forms-what-to-do {
   text-decoration: none;
   text-align: center;
   font-size: 35px;
}