a.head-links:link { 
    color:rgb(255, 255, 255);
    font-family: roboto-light;
    margin-right: 107px;
}

@font-face {
    src: url(Fonts/Roboto-Light.ttf);
    font-family: roboto-light;
}

@font-face {
    src: url(Fonts/Roboto-Black.ttf);
    font-family: roboto-black;
}

@font-face {
    src: url(Fonts/Roboto-Regular.ttf);
    font-family: roboto-regular;
}

h2 a.location-to-contact-us:link {
    text-decoration: underline;
    color: #6abb3b;
}

h2 a.location-to-contact-us:visited {
    color: #6abb3b;
}

h2 a.location-to-contact-us:hover {
    color: #60d81b;
}

h2 a.location-to-contact-us:active {
    color: #5de90d;
}